<page xmlns="http://projectmallard.org/1.0/"
      type="guide"
      id="index">

  <info>
    <title type="link">Gnac</title>
    <title type="text">Gnac</title>
  </info>

  <title>
    <media type="image" mime="image/png" src="figures/gnac-logo.png">
      Gnac logo
    </media>
    Gnac
  </title>

</page>
